body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
figcaption{
  color: #555;
  text-align: center;
  margin-top: 0px;
}
h1 {
  text-align: center;
  color: #333;
  padding: 1rem 2rem;
  border-left: 8px solid #000;
  border-bottom: 3px solid #000;
}

.info {
  margin-bottom: 4px;
}
.info h2 {
  color: #555;
  margin-top: 50px;
}
.info p {
  color: #777;
  margin-left: 20px;
  margin-right: 20px;
}
.im1 {
  display: flex;
  justify-content: center;
}
.im2 {
  display: flex;
  justify-content: center;
}
.im3 {
  display: flex;
  justify-content: center;
}
.im4 {
  display: flex;
  justify-content: center;
}
.im51 {
  display: flex;
  justify-content: center;
}
.im52 {
  display: flex;
  justify-content: center;
}
.tbl {
  display: flex;
  justify-content: center;
}
.info img{
  margin: auto;
  width: 100%;
  height: auto;
}
.info .im1 img{
  margin-left: 25%;
  width: 50%;
  height: auto;
}
.info .im3 img{
  margin-left: -11.25%;
  width: 125%;
  height: auto;
}
.info .im4 img{
  margin: -25%;
  padding: 0 0 30px 0;
  width: 150%;
  height: auto;
}
.info .tbl img{
  margin-left: 12.5%;
  width: 75%;
  height: auto;
}
.thumbnail img{
  margin-left: 25%; 
  width: 50%;
  height: auto;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
table{
  width:100%;
  border-collapse: collapse;
}
th, td{
  color: #777;
  border: 0px solid;
  padding:8px;
  width: 25%;
  text-align: center;
}
th{
  color: #555;
  text-align: center;
  background-color: #ddd;
}
td{
  color: #555;
  text-align: center;
  background-color: #eee;
}